.radio-group {
  >div:nth-of-type(1) {
    @media(max-width: 767px) {
      order: 2;
    }
  }

  >div:nth-of-type(2) {
    @media(max-width: 767px) {
      order: 1;
    }
  }
}

.text-danger {
  font-style: italic;
  font-size: 0.8rem;
}