// .signature-pad {
//   width: 600px;
//   margin: 20px auto;
//   height: 150px;
//   border: 1px solid #000;

//   .sigCanvas {
//     border: 1px solid #000;
//     width: 100%;
//     height: 100%;
//   }
// }