.form-header {
  display: flex;
  justify-content: space-between;

  h1,
  h5 {
    font-weight: 700;
  }

  text-align: right;
}

.bmi-logo {
  height: 80px;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .form-check {
    width: 50%;
  }
}

.card-header {
  h4 {
    margin: 0;

    small {
      font-size: 0.5em;
      display: block;
      color: #616161;
    }
  }
}

.checkbox-group-other {
  display: flex;
  flex-grow: 1;

  .form-check {
    width: auto;
  }

  input[type="text"] {
    margin-left: 10px;
    width: 100%;
  }
}

.form-submit-card {
  .card-body {
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
    align-items: center;
  }

  button[type="submit"] {
    font-weight: 700;
  }
}