.bmi-logo {
  height: 50px;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .form-check {
    width: 50%;
  }
}



.card-header {
  h4 {
    margin: 0;

    small {
      font-size: 0.5em;
      display: block;
      color: #616161;
    }
  }
}

.checkbox-group-other {
  display: flex;
  flex-grow: 1;

  .form-check {
    width: auto;
  }

  input[type="text"] {
    margin-left: 10px;
    width: 100%;
  }
}