@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

$--bs-body-font-family: 'Play', sans-serif;
$body-font-weight: 400;
$headings-font-family: 'Play', sans-serif;
$headings-font-weight: 700;

html,
body {
  width: 100%;
}

body {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f5f5f5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  >.container {
    margin-top: 1em;

    @media(min-width: 768px) {
      margin-top: 3em;
    }
  }
}