@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

$--bs-body-font-family: 'Play', sans-serif;
$body-font-weight: 400;
$headings-font-family: 'Play', sans-serif;
$headings-font-weight: 700;

body {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f5f5f5;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}